*{
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: 'Poppins', sans-serif;
}

.sidebar{
position: fixed;
height: 100%;
width: 240px;
background: #0A2558;
}

.sidebar .logo-details{
height: 80px;
width: 100%
}

.sidebar .logo-details i{
font-size: 28px;
font-weight: 500;
color: #fff;
}

.sidebar .logo-details .logo_name{
font-size: 24px;
color: #fff;
}